* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 15px;
    background: rgb(247,37,133);
    background: linear-gradient(137deg, rgba(247,37,133,1) 0%, rgba(76,201,240,1) 100%);
    font-family: 'Poppins', sans-serif;
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  html {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

#hamnav {
    width: 100%;
    background: #f72585;
    text-transform: uppercase;
    /* Optional */
    position: sticky;
    top: 0;
  }

  #hamnav label, #hamburger { 
      display: none; 
}
  

  #hamitems { 
      display: flex; 
}
  #hamitems a {
    width: 30%; 
    padding: 20px;
    color: #1f1f1f;
    text-decoration: none;
    text-align: center;
    transition: all .8s ease;
  }
  #hamitems a:hover {
    background: #4895ef;
  }
  

.wrapper {
    display: grid;
    grid-gap: 20px;
    padding: 50px;
}

.top {
    display: grid;
    grid-gap: 20px;
    grid-template-areas:
    "head head side1"
    "head head side2"
}

.head {
    grid-area: head;
    min-height: 400px;
    background: white url(../designproject/img/pizza1.jpg);
    background-size: cover;
    background-position: bottom right;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
  }
  

.head > * {
    background-color: #ffd900;
    padding: 5px;
}

.side {
    background-color: #ffd900;
    display: grid;
    align-items: center;
    justify-items: center;
    align-content: center;
}

.side p {
    margin: 0;
}

.side1 {
    grid-area: side1;
}

.side2 {
    grid-area: side2;
}

.price {
    font-size: 60px;
    font-weight: 300;
}

.secondary {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.secondaryItem {
    background: #ffd900;
    padding: 10px;
    border: 1px solid hsla(0, 0%, 0%, 0.308);
    text-align: center;
    box-shadow: 0 0 4px rgba(0,0,0,0.1);
}

.secondaryItem > h3 {
    text-transform: uppercase;
    font-weight: 600;
}

.secondaryItem .icon {
    font-size: 50px;
}

.secondaryItem p {
    color: rgba(0,0,0,0.5);
}

.about {
    background: #4cc9f0;
    padding: 50px;
    display: grid;
    grid-template-columns: 300px 1fr;
    align-items: center;
}

.about img {
    width: 250px;
}

button {
    background-color:#ffd900;
    border: 0;
    padding: 10px 20px;
}


.gallery {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.gallery img {
    object-fit: cover;
    width:100%;
    height:230px;
}

.gallery h2 {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-gap: 20px;
    align-items: center;
    text-transform: uppercase;
    font-weight: 500;
}

.gallery h2:before {
    display: block;
    content: '';
    height: 10px;
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgb(255, 196, 0));
}

.gallery h2:after {
    display: block;
    content: '';
    height: 10px;
    background-image: linear-gradient(to left, rgba(255,0,0,0), rgb(255, 196, 0));
}


/* FOOD MENU CSS */

.food-menu-heading {
    font-size: 2.5rem;
    text-align: center;
    font-weight: 400;
    color: #000;
    text-transform: uppercase;
    padding-top: 50px;
}

.sub {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-gap: 20px;
    align-items: center;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: 50px;
}

.sub:before {
    display: block;
    content: '';
    height: 10px;
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgb(255, 196, 0));
}

.sub:after {
    display: block;
    content: '';
    height: 10px;
    background-image: linear-gradient(to left, rgba(255,0,0,0), rgb(255, 196, 0));
}

.food-menu {
    padding: 20px;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    grid-auto-rows: auto;
    margin-bottom: 50px;
}

.food-image img {
    display: block;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.food-menu-item {
    display: flex;
    flex: 1 1 600px;
    justify-content: center;
    background: #ffd900;
    padding: 20px;
}

.food-description {
    margin: auto 1.5rem;
}

.food-title {
    font-size: 2.2rem;
    font-weight: 400;
    color: #444;
}

.food-description p {
    font-size: 1rem;
    color: #555;
    font-weight: 500;
}

.food-description .food-price {
    color: #444;
    font-weight: 700;
}


/* ABOUT CSS */

.about-heading {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-gap: 20px;
    align-items: center;
    padding: 50px 0;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 3rem;
}

.about-heading:before {
    display: block;
    content: '';
    height: 10px;
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgb(255, 196, 0));
}

.about-heading:after {
    display: block;
    content: '';
    height: 10px;
    background-image: linear-gradient(to left, rgba(255,0,0,0), rgb(255, 196, 0));
}

.main {
    padding: 40px;
}
.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 50px;
}

.rightOne {
    width: 600px;
}

.rightOne > h3 {
    font-size: 2rem;
}

.leftOne img {
    width: 600px;
}

.leftTwo {
    width: 600px;
    /* order: 1; */
}

.leftTwo > h3 {
    font-size: 2rem;
}

.rightTwo img {
    width: 600px;
    height: 400px;
    object-fit: cover;
}

/* LOCATION CSS */

.topLocation {
    text-align: center;
    margin-top: 20px;
    padding-bottom: 20px;
    line-height: 1;
    color: #2e2e2e;
}

.locations {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-gap: 20px;
    align-items: center;
    font-size: 4rem;
    text-transform: uppercase;
    font-weight: 900;
    color:#ffd900;
}

.locations:before {
    display: block;
    content: '';
    height: 10px;
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgb(76, 202, 240));
}

.locations:after {
    display: block;
    content: '';
    height: 10px;
    background-image: linear-gradient(to left, rgba(255,0,0,0), rgb(76, 202, 240));
}

.location-info {
    width: 500px;
    margin: auto;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 50px;
}

.city {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-gap: 20px;
    align-items: center;
    font-size: 2.5rem;
    text-transform: uppercase;
    letter-spacing: .5rem;
    color:#ffd900;
}

.city:before {
    display: block;
    content: '';
    height: 10px;
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgb(76, 202, 240));
}

.city:after {
    display: block;
    content: '';
    height: 10px;
    background-image: linear-gradient(to left, rgba(255,0,0,0), rgb(76, 202, 240));
}

.subcity {
    font-size: 1.2rem;
    text-transform: uppercase;
    margin-bottom: 5px;
    color: #480ca8;
}

.subloc {
    font-family: 'Lobster', cursive;
    text-transform: lowercase;
    font-size: 1.8rem;
}


/* FOOTER */

footer {
    background-color: rgba(76, 202, 240, 0.74);
    text-align: center;
    text-transform: uppercase;
}

footer > h2 {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-gap: 20px;
    align-items: center;
    margin-bottom: 30px;
    padding-top: 30px;
}

footer > h2:before {
    display: block;
    content: '';
    height: 10px;
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgb(255, 196, 0));
}

footer > h2:after {
    display: block;
    content: '';
    height: 10px;
    background-image: linear-gradient(to left, rgba(255,0,0,0), rgb(255, 196, 0));
}

.foot {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.one {
    line-height: 2;
    width: 200px;
    padding: 40px;
}

.one > h3 {
    font-size: 1.2rem;
    border-bottom: 8px solid #ffd900;
}

.one > p {
    padding-top: 20px;
    font-weight: 500;
}

.two {
    line-height: 2;
    width: 200px;
    padding: 40px;
}

.two > h3 {
    font-size: 1.2rem;
    border-bottom: 8px solid #ffd900;
}

.two > p {
    padding-top: 20px;
    font-weight: 500;
}

.three {
    line-height: 2;
    width: 200px;
    padding: 40px;
}

.three > h3 {
    font-size: 1.2rem;
    border-bottom: 8px solid #ffd900;
}

.three > p {
    padding-top: 20px;
    font-weight: 500;
}

/* MEDIA QUERIES */

@media (max-width: 1200px) {
    .leftTwo {
        order: 1;
    }
}

@media (max-width: 700px) {
    .top {
        grid-template-areas:
        "head head"
        "side1 side2"
    }

    .about {
        grid-template-columns: 1fr;
    }

    #hamnav label { 
        display: inline-block; 
        color: white;
        background: #f72585;
        font-style: normal;
        font-size: 1.2em;
        padding: 10px;
      }
    
      #hamitems a {
        box-sizing: border-box;
        display: block;
        width: 100%;
      }
    
      #hamitems { display: none; 
    }
      #hamnav input:checked ~ #hamitems { display: block; 
    }

    .food-menu {
        padding: 20px;
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        margin-bottom: 50px;
    }

    .food-image img {
        display: block;
        width: 150px;
        height: 150px;
        border-radius: 50%;
        object-fit: cover;
        object-position: center;
    }

    .rightOne {
        width: 500px;
    }
    
    .rightOne > h3 {
        font-size: 1.5rem;
    }
    
    .leftOne img {
        width: 500px;
    }

    .leftTwo {
        width: 500px;
    }
    
    .leftTwo > h3 {
        font-size: 1.5rem;
    }
    
    .rightTwo img {
        width: 500px;
        height: 350px;
    }

    footer > h2 {
        font-size: 1rem;
    }
}

@media (max-width: 500px) {
    .top {
        grid-template-areas:
        "head"
        "side1"
        "side2"
    }

    .food-menu {
        padding: 20px;
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        margin-left: -10px;
        margin-bottom: 50px;
    }

    .food-image img {
        display: block;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        object-fit: cover;
        object-position: center;
    }

    .food-title {
        font-size: 1.5rem;
        font-weight: 400;
        color: #444;
    }

    .food-description p {
        font-size: .75rem;
        color: #555;
        font-weight: 500;
    }

    .location-info {
        width: 300px;
    }

    .locations {
        font-size: 3rem;
    }

    .city {
        font-size: 1.5rem;
    }

    .rightOne {
        width: 300px;
    }
    
    .rightOne > h3 {
        font-size: 1rem;
    }
    
    .leftOne img {
        width: 300px;
    }

    .leftTwo {
        width: 300px;
    }
    
    .leftTwo > h3 {
        font-size: 1rem;
    }
    
    .rightTwo img {
        height: 200px;
        width: 300px;
    }
}